<h1>Editing recipe</h1>
<style type="text/css">
.hiderubycode { display:none; }
</style>

<% form_for(@recipe) do |f| %>
  <%= f.error_messages %>

  <p> ID not displayed because it is a protected field. 
  </p>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :instructions %><br />
    <%= f.text_area :instructions %>
  </p>
  <p><b>Select Category Name :</b><br>
  
  <select name="recipe[category_id]">
   <% @categories.each do |category| %>
       <option value="<%= category.id %>"
         <%= ' selected' if category.id == @recipe.category_id %>>
         <%= category.name %>
       </option>
   <% end %>
  </select></p>
<hide>
<div class="hiderubycode">recipe.category_id = category.id </div>
</hide>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show this Recipe ', @recipe %> |
<%= link_to 'Back to Recipes ', recipes_path %>